body {
    background-color: #fff;
    font-family: "Roboto", sans-serif, "Raleway", sans-serif;
    color: #434455;
}

.contact:hover, .contact:focus {
    color: #31d0aa;
}

.logo {
    font-family: "Raleway", sans-serif;
}

nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

address {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.solutions-text {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

button {
    background-color: #4d5ae5;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

ul {
    list-style-type: none;
}




